{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<h1>Welcome to Tripsters</h1>
<p>Your ultimate travel planning app!</p>
{% endblock %}
