
#cards{
    height: 10vh;
    background-color: #007EA7;
    padding: 2% 10%;
    margin: 2% 0%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 40px;
    margin-right: 10px;
}

.logo span {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navbar-menu {
    display: flex;
    align-items: center;
}

.navbar-menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin: 0 10px;
    background-color: #007EA7;
    padding: 10px;
    border-radius: 50%;
    border: #007EA7 2px solid;
    transition: 0.5s;
}

.navbar-menu li:hover {
    background-color: #ffffff;

}

.navbar-menu li:hover > a {
    color: #007EA7;
  }

.navbar-menu a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    transition: 0.5s;
}

.user {
    display: flex;
    align-items: center;
}

.user img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user span {
    font-size: 16px;
    color: #333;
    margin-right: 10px;
}

.user a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
    font-size: 16px;
}