:root {
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --background-color: #f4f4f4;
  --text-color: #333;
  --accent-color: #e74c3c;
}

* {
  font-family: "Poppins";
}

.info-left {
  box-sizing: border-box;
  height: 220px;
  padding: 20px;
  width: 20vw;
}

.info-left img{
  object-fit: cover;
  filter: brightness(70%);
  width: 60vw;
  height: 180px;
  border-radius: 15px;

}


.info_trip h1,
.info_trip p,
.info_trip a {
  color: white !important;
  position: relative;
  top: -200px;
  left: 20px;
}

.info_trip a {
  background-color: #007EA7;
  padding: 5px 10px;
  border-radius: 15px;
  color: white!important;
  text-decoration: none;
}

.cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 15px;
  background-color: #007da79a;
  height: 180px;
  border-radius: 15px;
  color: white;
}


.calendar {
  height: 1000px;
  padding: 15px 10px;
  background-color: #e2e2e2;
  border-radius: 15px;
  margin: 10px 0px;
}

.up {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;;
  height: 240px;
  align-items: center;
  margin-bottom: 5px;
  width: 100%;
}

.day {
  min-height: 500px;
}

.date {
  display: flex;
  flex-direction: column;
}

.date-num {
  font-size: larger;
  font-weight: 500;
  margin: 0;
}

.date-day {
  font-size: medium;
  font-weight: 400;
  margin: 0;
}

.events {
  min-height: 800px;
  overflow-y: auto;
}

.events::-webkit-scrollbar {
  display: none;
}


.event-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  height: 200px;
  left: 5px;
  font-size: 10px;
  font-weight: 400;
}

.event-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiper {
  width: 100%;
  height: 1000px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto !important;
  border-radius: 15px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

nav li {
  display: inline;
  padding: 0;
  margin: 0;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}
.circle-svg {
  display: block;
  margin: 1px 1px;
  max-height: 100px;
}
.circle-svg text {
  text-align:center;
  color:white;
  font-size:10px
}
.circle-svg path.percent {
  stroke: #000000;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
.circle-svg path.around {
    stroke: #ffffff;
    fill: none;
    stroke-width: 3;
}
body {
  text-align:center;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: var(--text-color);
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.day {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 0px 10px 10px 10px;
}




.event-left {
  font-weight: bold;
}

.add-activity {
  background-color: var(--accent-color);
  color: white;
  border: var(--accent-color) 2px solid;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-activity:hover {
  background-color: white;
  color: var(--accent-color);
}

.up {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.info-left {
  flex: 0 0 60%;
}

.cards {
  flex: 0 0 35%;
  background-color: #007EA7;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 00px;
}

.swiper-button-next, .swiper-button-prev {
  color: var(--primary-color);
}

.swiper-pagination-bullet-active {
  background-color: var(--primary-color);
}

.modal-content {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.modal input, .modal textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.events {
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) var(--background-color);
}

.events::-webkit-scrollbar {
  width: 8px;
}

.events::-webkit-scrollbar-track {
  background: var(--background-color);
}

.events::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 3px solid var(--background-color);
}


.see-more {
  text-align: center;
  color: var(--primary-color);
  cursor: pointer;
  padding: 5px;
  background-color: rgba(52, 152, 219, 0.1);
  border-radius: 5px;
  margin-top: 10px;
}

.events {
  max-height: 400px; /* Augmentez cette valeur selon vos besoins */
  overflow-y: auto;
}

.event {
  position: relative;
  padding: 10px 10px 10px 50px; /* Ajustez le padding gauche pour laisser de la place à la photo */
  margin-bottom: 10px;
  /* background: linear-gradient(to right, var(--primary-color), #2980b9); */
  color: white;
  border-radius: 8px;
  overflow: hidden; /* Pour s'assurer que la photo ne déborde pas */
  height: auto;
  min-height: 100px;
  margin: 10px 0;
  font-size: 0.9em;
}

.profile-picture,
.default-avatar {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  border-radius: 0 0 0 8px; /* Arrondir seulement le coin inférieur droit */
  object-fit: cover;
  vertical-align: middle;
}

.default-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34495e;
  color: white;
  font-weight: bold;
  font-size: 16px;
}

.event-content {
  display: flex;
}

.event-left {
  margin-right: 15px;
}

.event-time {
  font-size: 0.8em;
  margin-bottom: 5px;
}

.event-right {
  flex-grow: 1;
}

.event-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.event-description {
  font-size: 0.9em;
  margin-bottom: 5px;
}

.event-cost {
  font-size: 0.8em;
  font-weight: bold;
}




.category-card{
  border-radius: 15px;
  color: white;
}

.category-card i{
  font-size: 30px;
  margin: 10px;
}

.expense-categories{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
    padding: 0px 20px;
    margin-bottom: 20px;
}

.recent-expenses {
  margin: 0px 20px;
}

.icon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  height: 55px;
  width: 55px;
  border-radius: 15px;
}

.expense-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  color: rgb(0, 0, 0);
  background-color: rgb(231, 231, 231)
  width: 40%;
  /* border: gray 1px solid; */
  box-shadow: 0px 0px 72px 13px rgba(0,0,0,0.1);
  backdrop-filter: blur(2px);
}

.expense-item i {
  font-size: 24px;
}

.expense-details {
  flex-grow: 1;
}

.expense-name {
  font-weight: bold;
  margin: 0;
}

.expense-date {
  font-size: 12px;
  margin: 0;
}

.expense-amount {
  font-weight: bold;
  margin: 0;
}

.down{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 0px;
}





.event {
  position: relative;
  padding: 15px 15px 15px 60px; /* Augmenté le padding pour plus d'espace */
  margin-bottom: 15px; /* Augmenté la marge entre les événements */
  color: white;
  border-radius: 10px; /* Légèrement augmenté pour un look plus doux */
  overflow: hidden;
  min-height: 120px; /* Augmenté la hauteur minimale */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Ajout d'une transition pour l'effet de survol */
}

.event a{
  text-decoration: none;
  color: white;
}

.event:hover {
  transform: scale(0.98); /* Légèrement agrandi l'événement au survol */
  
}

.profile-picture,
.default-avatar {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px; /* Augmenté la taille */
  height: 50px;
  border-radius: 50%; /* Changé en cercle complet */
  object-fit: cover;
}

.default-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #34495e;
  color: white;
  font-weight: bold;
  font-size: 20px; /* Augmenté la taille de la police */
}

.event-content {
  display: flex;
  height: 100%;
}

.event-left {
  margin-right: 20px; /* Augmenté l'espace entre les sections gauche et droite */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-time {
  font-size: 0.9em;
  margin-bottom: 5px;
  font-weight: bold;
}

.event-right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-name {
  font-weight: bold;
  margin-bottom: 8px;
  font-size: 1.1em; /* Augmenté la taille de la police */
}

.event-description {
  font-size: 0.9em;
  margin-bottom: 8px;
  max-height: 3.6em; /* Limite à 2 lignes (1.8em par ligne) */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.event-cost {
  font-size: 0.9em;
  font-weight: bold;
  align-self: flex-end;
}