{% extends 'base.html.twig' %}

{% block title %}New Trip{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/formTrip.css') }}">
{% endblock %}

{% block body %}
<h1>Créer un nouveau voyage</h1>
<div class="wrapper">

    {{ include('trip/_form.html.twig') }}

    <a href="{{ path('app_trip_index') }}">Retour</a>
</div>
{% endblock %}