{# templates/category_activity/new.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Nouvelle Catégorie d'Activité{% endblock %}

{% block body %}
    <h1>Créer une nouvelle catégorie d'activité</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}

    <a href="{{ path('app_activity_index') }}">Retour à la liste</a>
{% endblock %}